.socialText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
}

.socialImages {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.pSocial {
    color: #6C7275;
    font-family: 'Inter', sans-serif;
}